doctype html
html(lang="en")
    head
        title= pageTitle
    body
        header
        content
            form
                label Height:
                    |
                    input(type='number', value=q.height || 200, name='height')
                    | mm
                br
                label Width:
                    |
                    input(type='number', value=q.width || 400, name='width')
                    | mm
                br
                label Depth:
                    |
                    input(type='number', value=q.depth || 200, name='depth')
                    | mm
                br
                label Notches:
                    |
                    input(type='number', value=q.notches || 20, name='notches')
                    | mm
                br
                label Thickness:
                    |
                    input(type='number', value=q.thickness || 5, name='thickness')
                    | mm
                br
                input(type='submit', name='update_image', value='Update image')
                br
                input(type='submit', name='download_svg', value='Download SVG')
                br
                input(type='submit', name='download_dfx', value='Download DFX')

                h2 Some examples:

                a( href="?height=" + 200 +
                "&width=" + 200 +
                "&depth=" + 200 +
                "&notches=" + 20 +
                "&thickness=" + 3) H200 x w200 x d200 : n20 : t3
                br

                a( href="?height=" + 200 +
                "&width=" + 400 +
                "&depth=" + 200 +
                "&notches=" + 20 +
                "&thickness=" + 5) H200 x w400 x d200 : n20 : t5
                br

                a( href="?height=" + 300 +
                "&width=" + 500 +
                "&depth=" + 300 +
                "&notches=" + 20 +
                "&thickness=" + 5) H300 x w500 x d300 : n20 : t5

            img( width=800,
            src="box.svg?height=" + q.height ? q.height : 200 +
            "&width=" + q.width ? q.width : 400 +
            "&depth=" + q.depth ? q.depth : 200 +
            "&notches=" + q.notches ? q.notches : 20 +
            "&thickness=" + q.thickness ? q.thickness : 5)
        footer
            p
                | Generator created by Dag Frode Solberg as part of the course
                |
                a(href='https://www.ntnu.no/studier/emner/TMM4245#tab=omEmnet') TMM4245 - Fuzzy Front End
                | .
            p
                | Original idea by Sivert. Modified by Thomesine.
            p
                | Feedback and suggestions to the generator
                br
                | Martin - scale - examples values - 3d model for reference
            p
                | Bugs can be reported at
                |
                a(href='https://github.com/trolllabs/2017-smart-storage-box-generator/issues') the GitHub repository